

*{
  padding: 0;
  margin: 0;
  font-family: 'Rowdies', cursive;
}

body{
 
  /* background-color: #BF6D30			; */
}

.header_style{
 position: absolute;
 top:7%;
left:50%;
transform:translate(-50%, -50%);
width: 540px;


}

.header_contain{
  position: absolute;
 top:10%;
left:50%;
transform:translate(-50%, -50%);
  display: flex;
  height: 100px;
width: 600px;
}

.img_theme_wrap{
height: fit-content;
position: absolute;
left: 88%;
top: 7%;
}


.container{
  width: 95%;
  margin: auto;
  display: flex;
}

#groceries{
  width: 600px;
  min-height: 100vh;
  padding-top: 20px;
  margin:auto;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  /* background-color: #ffe4c4	;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.50);   */
}

#title{
  font-size: 1.25rem;
  text-align: center;
}

#input{
  width: 75%;
  display: flex;
  justify-content: center;
}

#input i{
  cursor: pointer;
  font-size: 2rem;
  /* color: #ffd700	; */
}

#input input{
  font-family: inherit;
  outline: 0;
  border: 0;
  width: 100%;
  font-size: 1.5rem;
  /* border-bottom: 3px solid black; */
}

#all_items{
  font-size: 1.5rem;
  width: 75%;
  line-height: 3;
}

@media(max-width:480px){
  #title{
    font-size: 1rem;
  }

  #input i{
    font-size: 1.5rem;
  }

  #input input{
    font-size: 1rem;
  }

  #all-items{
    font-size: 1rem;
  }
}





.title{
  /* color: #fff5ee; */
  
  /* text-shadow: rgb(128,128,128) 1px 1px 0, rgb(128,128,128) 2px 2px 0, 
  rgb(128,128,128) 3px 3px 0, rgb(128,128,128) 4px 4px 0, 
  rgb(128,128,128) 5px 5px 0; */
  font-size: 50px; 
}


.button_menu{
  display: flex;
  flex-direction: column;
margin-top: 300px;

  align-items: stretch;
  
}
#li_item_list{
  position: absolute;
  
}
.item_img_of_list1{

  margin-right: 7px;
}

.item_img_of_list1:last-child{
  margin-right: 0px;
}



 .list_contains{
  display: flex;
    justify-content: space-between;
    align-items: center;
 }

.div_class{
  display: flex;
}


.img_switch_themes{
  width: 25px;
    height: 25px;

}


/* ------------------------------------------------------------------------ TABLET VERSION ------------------------------------------------------------------- */

@media screen and (min-width: 768px)and (max-width: 1439px){
.title{
  font-size: 40px;
  
}

  h2{
    font-size: larger;
  }

  .header_style{
    position: absolute;
    top: 7%;
    left: 39%;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: block;
    
   
   
   }

   .img_theme_wrap{
      width: 20px;
   
   }
   .img_switch_themes {
    width: 23px;
    height: 23px;
  
}
.img_theme_wrap {
  height: fit-content;
  position: absolute;
  left: 70%;
  top: 10%;
}
}


/* ------------------------------------------------------------------------ MOBILE VERSION ------------------------------------------------------------------- */



@media screen and (min-width: 320px) and (max-width: 767px){
  *{
    padding: 0;
    margin: 0;
    font-family: 'Rowdies', cursive;
  }
  
  body{
   max-width: 320px;
   max-height: 730px;
    background-color: white		;
  }
  
  .header_style{
   position: absolute;
   top: 7%;
   left: 36%;
  transform:translate(-50%, -50%);
  width: fit-content;
  
  
  }
  
  .header_contain{
    position: absolute;
   top:10%;
  left:50%;
  transform:translate(-50%, -50%);
    display: flex;
    height: 100px;
  width: 320px;
  }
  
  .container{
    width: 100%;
    margin: auto;
    display: flex;
  }
  
  #groceries{
    width: 320px;
    min-height: 100vh;
    padding-top: 20px;
    margin:auto;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    background-color: #ffe4c4	;
    box-shadow: 0 0 0 0px rgba(0,0,0,0);  
  }
  
  #title{
    font-size: 1.25rem;
    text-align: center;
  }
  
  #input{
    width: 87%;
    display: flex;
    justify-content: center;
  }
  
  #input i{
    font-size: 1.5rem;
    margin-top: 3px;
    margin-left: -5px;
    margin-right: 5px
  }
  
  #input input{
    font-family: inherit;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 3px solid black;
  }
  
  #all_items{
    font-size: 1.5rem;
    width: 86%;
    
    
  }
  
  @media(max-width:480px){
    #title{
      font-size: 1rem;
    }
  
    #input i{
      font-size: 1.5rem;
    }
  
    #input input{
      font-size: 25px;
    }
  
    #all-items{
      font-size: 1rem;
    }
  }
  
  
  
  
  
  .title{
    
    font-size: 26px;
  }
  
  
  .button_menu{
    display: flex;
    flex-direction: column;
  
  
    align-items: stretch;
    
  }
  #li_item_list{
    position: absolute;
    
  }
 

  .img_theme_wrap {
    height: fit-content;
    position: absolute;
    left: 74%;
    top: 8%;
  }


  .img_switch_themes {
    width: 23px;
    height: 20px;
  
}
  }


